.container-header {
    flex-flow: column;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, rgb(231, 0, 193), rgb(6, 245, 225))
}

img {
    width: 400px;
    border-radius: 50%;
}

h1 {
    box-sizing: border-box;
    font-family:sans-serif;
}

.container-main {
    display: flex;
    flex-flow: column;
    text-align: center;
    flex-basis: 2;
    background-color: rgb(236, 6, 148);
    font-size: 20px;
    color: white;
}
body {
    background: linear-gradient(to left, rgb(85, 6, 30), rgb(199, 1, 123));
}

@media screen and (max-width: 440px){
img {

}
h1 {
    font-size: x-large;
}
body {

}
.container-main {

}
.container-header {

}
}