@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rasa";
  src: url("./assets/fonts/Rasa-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral/Spectral-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Estilos personalizados para scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #B28E6C;
  border-radius: 10px;
  transition: background 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52493D;
}
