@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rasa";
  src: url("./assets/fonts/Rasa-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Spectral";
  src: url("./assets/fonts/Spectral/Spectral-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}